<div class="filter-products__sort-container">
  <div id="sort" class="filter-products__sort">
    <div class="sort a-z">
      <fa-icon data-sort="sort-a" [icon]="faArrowDownAZ"></fa-icon>
    </div>
    <div class="sort z-a">
      <fa-icon data-sort="sort-z" [icon]="faArrowDownZA"></fa-icon>
    </div>
    <div class="sort numberup">
      <fa-icon data-sort="sort-one" [icon]="faArrowDown19"></fa-icon>
    </div>
    <div class="sort numberdown">
      <fa-icon data-sort="sort-nine" [icon]="faArrowDown91"></fa-icon>
    </div>
    <div class="sort favourite">
      <fa-icon data-sort="sort-wish" [icon]="faHeart"></fa-icon>
    </div>
  </div>
</div>
